{% extends "base.html" %}

{% block title %}Ajouter une Facture{% endblock %}

{% block content %}
<h2 class="text-center">Ajouter une Facture</h2>
<form method="post" class="mt-4">
    <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input type="date" class="form-control" id="date" name="date" required>
    </div>
    <div class="mb-3">
        <label for="montant" class="form-label">Montant</label>
        <input type="number" class="form-control" id="montant" name="montant" required>
    </div>
    <button type="submit" class="btn btn-custom w-100">Ajouter</button>
</form>
{% endblock %}
