body {
    font-family: Arial, sans-serif;
    background: url('/static/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
